<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttractionsActivity"
            android:label="@string/category_attractions"
            android:parentActivityName="com.example.android.tourguide.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity
            android:name=".DiningActivity"
            android:label="@string/category_dining"
            android:parentActivityName="com.example.android.tourguide.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/category_shopping"
            android:parentActivityName="com.example.android.tourguide.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
        <activity
            android:name=".AccommodationsActivity"
            android:label="@string/category_accommodations"
            android:parentActivityName="com.example.android.tourguide.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.tourguide.MainActivity" />
        </activity>
    </application>

</manifest>